<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483159378698-fn0egv3o6l7e5mt510jdgbackb9vmvnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483159378698-fn0egv3o6l7e5mt510jdgbackb9vmvnu</string>
	<key>API_KEY</key>
	<string>AIzaSyB0M3-6k8_8V-JCzFsYCXAiSapRGw7TBbs</string>
	<key>GCM_SENDER_ID</key>
	<string>483159378698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-8d364</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-8d364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483159378698:ios:d5adfa144a35b3c89908f3</string>
</dict>
</plist>